#logoDark {
    width: 55%;
    min-width: 200px;
}

.cover-title {
    font-size: 4vw;
}

.cover-title-container {
    width: max-content;
}

.cover-title-container span {
    font-size:calc(12px + 0.9vw);
}

.cover-title-container h1 {
    margin: 0;
    font-size: 4vw;
}

.workshop-desc {
    position: absolute;
    top: 57vh;
    width: 70%;
    text-align: start;
}

@media screen and (max-height: 800px) {
    #logoDark {
        width: 45%;
    }
}

@media screen and (max-height: 600px) {
    .workshop-desc {
        top: 60vh;
    }
}

@media screen and (max-height: 500px) {
    #logoDark {
        width: 35%;
    }
    .workshop-desc {
        display: none;
    }
}

@media screen and (max-height: 300px) {
    #logoDark {
        min-width: 100px;
        width: 25%;
    }
}


