.landing-section {
    height: 100vh;
    flex-direction: column;
}

.outer-row {
    height: 20%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

#mobile-logo {
    width: 25%;
    min-width: 150px;
    display: none;
    /* background-color: red; */
}

.manual-container {
    height: 60%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}

.manual-wrapper {
    height: 100%;
    width: 470px;
    position: relative;
    background-color: green;
}

#manual {
    height: 100%;
    -webkit-filter: drop-shadow(-10px 10px 10px #727272);
    filter: drop-shadow(-10px 10px 10px #727272);
}

#gold {
    width: 200px;
    position: absolute;
    left: -88px;
    bottom: -50px;
    /* left: -8.3vh;
    bottom: -5vh; */
}

#arrow {
    width: 5vh;
    /* margin-bottom: 4vh; */
}

/* Foundations Section -------------------------------- */

.foundations-header-container {
    width: max-content;
    display: none;
}

.foundations-header-container h1 {
    margin: 0;
    margin-bottom: -70px;
    font-size: 35px;
}

.foundations-header-container span {
    font-size: 15px;
}

@media screen and (max-width: 1300px) {
    .outer-row {
        height: 28%;
    }
    .manual-container {
        height: 44%;
    }
    .manual-wrapper {
        width: 345px;
    }
    #manual {
        /* width: 330px; */
    }
    #gold {
        width: 150px;
        left: -65px;
    }
}

@media screen and (max-width: 700px) {
    .landing-section {
        height: calc(100vh - 80px);
        margin-top: 80px;
    }
    #mobile-logo {
        display: block;
    }
    .manual-wrapper {
        width: 318px;
    }
    #manual {
        /* width: 310px; */
    }
    #gold {
        width: 140px;
        left: -60px;
    }
    .foundations-header-container {
        display: block;
    }
}