.landing-section {
    height: 100vh;
    flex-direction: column;
}

.outer-row {
    height: 20%; 
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

#mobile-logo {
    width: 25%;
    min-width: 150px;
    display: none;
    /* background-color: red; */
}

.manual-container {
    height: 60%; 
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    position: relative;
}


#manual {
    margin-left: -90px;
    height: 100%;
    -webkit-filter: drop-shadow(-10px 10px 10px #727272);
    filter: drop-shadow(-10px 10px 10px #727272);
    z-index: 1;
}

.center-measure {
    height: 400px; 
    width: 10px;
    background-color: red;
    position: absolute;
    z-index: 2;
}

#gold {
    width: 200px;
    position: absolute;
    left: 14.5vw;
    bottom: -50px;
    /* left: -8.3vh;
    bottom: -5vh; */
}

#arrow {
    width: 5vh;
    /* margin-bottom: 4vh; */
}

/* Foundations Section -------------------------------- */

.foundations-header-container {
    width: max-content;
    display: none;
}

.foundations-header-container h1 {
    margin: 0;
    margin-bottom: -70px;
    font-size: 35px;
}

.foundations-header-container span {
    font-size: 15px;
}

@media screen and (max-width: 1300px) {
    .outer-row {
        height: 28%;
    }
    .manual-container {
        height: 44%;
    }
    #manual {
        margin-left: -70px;
    }
    #gold {
        left: 13.5vw;
        width: 150px;
    }
}

@media screen and (max-width: 700px) {
    .landing-section {
        height: calc(100vh - 80px);
        margin-top: 80px;
    }
    #mobile-logo {
        display: block;
    }
    #manual {
        margin-left: -60px;
    }
    #gold {
        left: 18vw;
        width: 135px;
    }
    .foundations-header-container {
        display: block;
    }
}

@media screen and (max-width: 400px) {
    #manual {
        margin-left: -60px;
    }
}
