a:visited { text-decoration: none; color:black; }
a:focus { text-decoration: none; color:black; }

.nav-container {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    padding: 0 5%;
    box-sizing: border-box;
}

.hide-nav {
    display: none;
    position: fixed;
    background-color: #F0F0F0;
}

/* Static Nav -------------------------------- */

#staticNav {
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
}

.nav-link {
    text-decoration: none;
    margin-left: 0;
    color: black;
}

.nav-logo {
    width: 25px;
    transition: 0.1s linear;
}

.nav-logo:hover {
    width: 29px;
}

/* Responsive Nav -------------------------------- */

#logoLeft {
    display: none;
}

.burger-wrapper {
    display: none;
    z-index: 1000;
}

.burger {
    display: block;
    width: 45px;
}

/* Slider Nav -------------------------------- */

.slider-container {
    width: 100%;
    height: max-content;     
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 15px;
    position: absolute;
    top: 0;
    margin-left: auto;
    margin-right: auto; 
    left: 0;
    right: 0;
    display: none;
}

#sliderNav {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}

#sliderNav li {
    text-decoration: none;
    margin-bottom: 30px;
}


@media screen and (max-width: 1000px) {
    .nav-container {
        justify-content: space-between;
    }

    #staticNav {
        display: none;
    }

    #logoLeft, .burger-wrapper {
        display: block;
    }

    .slider-container {
        display: block;
        background-color: white;
    }
}

@media screen and (max-width: 700px) {
    .nav-container {
        z-index: 999;
    }
    .hide-nav {
        display: flex;
    }
    .slider-container{ 
        background-color: #F0F0F0;
    }
}