#workshopsHeading {
    display: none;
}

.workshop-section-landing {
    height: 630px;
    justify-content: space-between;
    align-items: center;
    padding: 0 3.5%;
    padding-bottom: 80px;
    box-sizing: border-box;
    /* background-color:aqua; */
}

.workshop-section {
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
    box-sizing: border-box;
    /* background-color:red; */
}

.workshop-wrapper {
    height: max-content;
    width: 50%;
    /* background-color: red; */
    position: relative;
    display: flex; 
    flex-direction: column;
    align-items: center;
}


.manual {
    width: 100%;
    z-index: 2;
}

.booklet-desc {
    width: 70%;
    text-align: left;
    position: absolute;
    bottom: 20px;
    z-index: -1;
    font-size: 14px;
}

.workshop-wrapper:hover .booklet-desc {
    transition: 0.2s linear;
    bottom: -75px;
}

.summary {
    display: none;
}


@media screen and (max-width: 1300px) {
    .workshop-section {
        padding-top: 25vh;
        height: max-content;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .workshop-section-landing {
        height: max-content;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 0px;
    }
    .workshop-wrapper {
        width: 80%;
        margin-bottom: 125px;
    }

    .booklet-desc {
        width: 70%;
    }

    .booklet-wrapper:hover .booklet-desc {
        transition: 0.2s linear;
        bottom: -90px;
    }
    
}

@media screen and (max-width: 700px) {
    #workshopsHeading {
        display: flex;
    }
    .workshop-section {
        padding-top: 0;
    }
    .booklet-desc {
        display: none;
    }
    .summary {
        display: block;
    }
    .workshop-wrapper {
        width: 80%;
        margin-bottom: 100px;
    }
}